# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Binaries
bin/
bin-int/

# Profiler output
**/profile-*.json

# Cache
**/_shadercache

**/imgui.ini
GameName/content/textures/IMG_2137.JPG
